@import "../../common";

@font-face {
  font-family: regular-font;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: medium-font;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: semibold-font;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}

body {
  font-family: medium-font;
  background-color: $bg-color;
}
#own-account {
  height: 100vh;

  @media (max-width: 1175px) {
    height: auto;
  }
}
@import "../header";

.container {
  background-color: #fff;
  padding: 30px 50px;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 56px;

  @media (max-width: 1175px) {
    margin-bottom: 50px;
  }
  @media (max-width: $md) {
    width: 90%;
    padding: 20px 35px;
  }

  @media (max-width: $sm) {
    width: 95%;
    padding: 20px 25px;
  }

  @media (max-width: $sm-ext) {
    width: 99%;
    padding: 20px 15px;
  }

  .content-title {
    font-size: 20px;

    @media (max-width: $md) {
      font-size: 17px;
      text-align: center;
      h1 {
        text-align: center;
      }
    }
  }

  // ! WRAPPER
  .wrapperContainer {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 15px;
    justify-content: center;

    @media (max-width: 1175px) {
      flex-direction: column;
      align-items: center;
    }

    .form_bar {
      overflow: hidden;
    }

    .photo_bar {
      margin-right: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: red;

      .this_is_image {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.133);
        width: 170px;
        position: relative;
        padding: 3px;
        height: 170px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
          width: 100%;
          height: 100%;
          border-radius: 100px;
        }
      }

      form {
        // background-color: rebeccapurple;
        margin-top: 30px;
        align-self: flex-end;
        overflow: hidden;
        width: 80%;

        @media (max-width: $md) {
          align-self: center;
          width: 80%;
        }

        .btn_refresh {
          @include buttonStyle;
          padding: 8px 13px;
        }
      }

      @media (max-width: 1175px) {
        margin: 0;
        margin-bottom: 30px;
      }

      img {
        width: 110px;
        height: 125px;
      }
    }

    .form_bar {
      form {
        display: flex;
        flex-direction: column;

        .input-layout-content {
          display: flex;

          @media (max-width: $md) {
            flex-direction: column;
          }

          .part_1 {
            margin-right: 30px;

            @media (min-width: 1366px) {
              margin-right: 40px;
            }

            @media (max-width: $md) {
              margin: 0;
            }

            .input-content {
              display: flex;
              width: 300px;
              margin-bottom: 15px;
              flex-direction: column;

              @media (min-width: 1366px) {
                width: 320px;
              }

              @media (max-width: $md) {
                width: 100%;
              }

              @media (max-width: $sm) {
                width: 100%;
              }

              input {
                border: 2px solid $input-bg-color;
                background-color: #f9f9f9;
                padding: 9px 19px;
                outline: none;
                border-radius: 12px;
                margin-top: 3px;
                transition: 0.4s all ease;

                &:focus {
                  border-color: #387adf;
                }
              }

              label {
                font-weight: 500;
                font-size: 14px;
              }
            }
          }

          .part_2 {
            display: flex;
            flex-direction: column;

            textarea {
              border: 2px solid $input-bg-color;
              background-color: #f9f9f9;
              outline: none;
              border-radius: 12px;
              padding: 10px;
              resize: none;
              transition: 0.4s all ease;

              &:focus {
                border-color: #387adf;
              }
            }
          }
        }

        .button-groups {
          display: flex;
          gap: 12px;
          margin-top: 15px;
          flex-wrap: wrap;
          align-items: center;

          @media (max-width: $md) {
            justify-content: center;
          }
        }

        // ! duzenlendi
        .button-groups .btn_reset {
          @include buttonStyle;
          padding: 9px 13px;
          font-size: 14px;
          background-color: $color-red;
          border: none;
          

          &:hover {
            background: #f93939;
          }

          @media (max-width: $md) {
            width: 70%;
          }
        }

        .btn_add {
          @include buttonStyle;
          padding: 10px 43px;
          width: fit-content;
          cursor: pointer;

          @media (max-width: 1175px) {
            align-self: center;
            width: 50%;
          }

          @media (max-width: $md) {
            width: 90%;
          }

          &:hover {
            background-color: #376004;
          }
        }
      }
    }
  }
}
