/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: regular-font;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: medium-font;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: semibold-font;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}
#main-menu {
  height: 100vh;
}

.overlay-adding-category {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100%;
  display: flex;
  z-index: 90;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3058823529);
  transition: 0.4s all ease;
}
.overlay-adding-category.active {
  top: 0;
}
.overlay-adding-category .content-box {
  padding: 11px 15px;
  background-color: #fff;
  border-radius: 12px;
  font-family: medium-font;
  width: 520px;
}
@media (max-width: 520px) {
  .overlay-adding-category .content-box {
    width: 95%;
  }
}
.overlay-adding-category .content-box .content-title {
  font-size: 26px;
  text-align: center;
  font-family: semibold-font;
  padding: 35px 0;
}
@media (max-width: 520px) {
  .overlay-adding-category .content-box .content-title {
    font-size: 24px;
    padding: 25px 0;
  }
}
.overlay-adding-category .content-box form {
  width: 320px;
  margin: 15px auto;
  padding-bottom: 50px;
}
.overlay-adding-category .content-box form .input_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.overlay-adding-category .content-box form .input_content input {
  padding: 10px 23px;
  border: 2px solid #D8D8D8;
  border-radius: 12px;
  outline: none;
  transition: 0.3s all;
  width: 100%;
}
.overlay-adding-category .content-box form .input_content input:focus {
  border-color: #387ADF;
}
.overlay-adding-category .content-box form .input_content label {
  font-size: 12px;
  font-family: semibold-font;
}
.overlay-adding-category .content-box form .button_add_category {
  padding: 10px 16px;
  background-color: #6A983C;
  border: 2px solid #407500;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.3s all;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  padding: 8px 0;
}
.overlay-adding-category .content-box form .button_add_category:hover {
  background-color: #46760A;
}
@media (max-width: 1024px) {
  .overlay-adding-category .content-box form .button_add_category {
    padding: 7px 14px;
  }
}
@media (max-width: 520px) {
  .overlay-adding-category .content-box form .button_add_category {
    padding: 6px 12px;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  background-color: white;
  font-family: medium-font;
}

.wrapperHeader {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .wrapperHeader {
    width: 95%;
  }
}
.wrapperHeader .contact-overlay {
  padding: 15px 1px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.1215686275);
}
@media (max-width: 426px) {
  .wrapperHeader .contact-overlay {
    font-size: 15px;
  }
}
.wrapperHeader .contact-overlay .greenText {
  color: #6A983C;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
}
.wrapperHeader .header-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapperHeader .header-part .logo_part {
  padding: 33px 0;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .logo_part {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
  }
}
.wrapperHeader .header-part .logo_part .mobile-hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .logo_part .mobile-hamburger {
    display: block;
  }
}
.wrapperHeader .header-part .nav_desktop {
  display: flex;
  align-items: center;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .nav_desktop {
    display: none;
  }
}
.wrapperHeader .header-part .nav_desktop .static_part {
  display: flex;
  gap: 30px;
  margin-right: 35px;
}
@media (max-width: 1024px) {
  .wrapperHeader .header-part .nav_desktop .static_part {
    gap: 25px;
    margin-right: 30px;
  }
}
.wrapperHeader .header-part .nav_desktop .static_part a {
  text-decoration: none;
  color: #6A983C;
  padding: 3px;
  font-weight: 500;
  transition: 0.4s color ease;
}
.wrapperHeader .header-part .nav_desktop .static_part a:hover {
  color: #407500;
  text-decoration: underline;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part {
    gap: 7px;
  }
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
}
@media (max-width: 1024px) {
  .wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part .avatar {
    width: 35px;
    height: 35px;
  }
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part .username {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups {
  display: flex;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups a {
  padding: 7px 13px;
  font-family: semibold-font;
  text-decoration: none;
  border-radius: 12px;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups a:hover {
  transition: 0.3s all;
  transform: translateY(-2px);
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups a:first-child {
  margin-right: 10px;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups .register_btn {
  background-color: #6A983C;
  border: 2px solid #407500;
  color: #fff;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups .login_btn {
  border: 2px solid #6A983C;
  background-color: transparent;
  color: #000;
}
.wrapperHeader .header-part .nav_mobile {
  display: none;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .nav_mobile {
    display: block;
    position: fixed;
    background-color: #35374b;
    border-radius: 0px 0px 0px 55px;
    top: 0;
    right: -80%;
    transition: 0.3s right ease;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 30px 90px;
  }
  .wrapperHeader .header-part .nav_mobile.active {
    right: 0;
  }
  .wrapperHeader .header-part .nav_mobile .close_menu_icon {
    margin-top: 10px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .wrapperHeader .header-part .nav_mobile .menu_items {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 15px;
  }
  .wrapperHeader .header-part .nav_mobile .menu_items a {
    text-decoration: none;
    text-align: right;
    color: #6A983C;
    font-family: medium-font;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups a {
    padding: 7px 13px;
    font-family: semibold-font;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups a:hover {
    transition: 0.3s all;
    transform: translateY(-2px);
  }
  .wrapperHeader .header-part .nav_mobile .button-groups .register_btn {
    background-color: #6A983C;
    border: 2px solid #407500;
    color: #fff;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups .login_btn {
    background-color: transparent;
    color: #000;
    background-color: #f5f5f5;
  }
  .wrapperHeader .header-part .nav_mobile .profile-part {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .wrapperHeader .header-part .nav_mobile .profile-part .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .wrapperHeader .header-part .nav_mobile .profile-part .username {
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
  }
}

.main-container {
  margin-top: 13px;
  background: #fff;
  padding: 35px 60px;
  font-family: medium-font;
}
.main-container .content-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.main-container .content-title .text {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 26px;
  font-family: semibold-font;
}
.main-container .content-title .text svg {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.main-container .content-title .text a {
  text-decoration: none;
  color: #000;
}
.main-container .content-title .btn_watch_menu {
  padding: 10px 16px;
  background-color: #6A983C;
  border: 2px solid #407500;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.3s all;
}
.main-container .content-title .btn_watch_menu:hover {
  background-color: #46760A;
}
@media (max-width: 1024px) {
  .main-container .content-title .btn_watch_menu {
    padding: 7px 14px;
  }
}
@media (max-width: 520px) {
  .main-container .content-title .btn_watch_menu {
    padding: 6px 12px;
  }
}
.main-container .category-content .component_title {
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-family: semibold-font;
  margin-bottom: 15px;
}
@media (max-width: 769px) {
  .main-container .category-content .component_title {
    font-size: 1.2rem;
  }
}
.main-container .category-content .category-box-group {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  gap: 12px;
}
@media (max-width: 845px) {
  .main-container .category-content .category-box-group {
    overflow-x: scroll;
    padding-bottom: 10px;
  }
}
.main-container .category-content .category-box-group .category-box {
  padding: 7px 10px;
  border: 3px solid #D8D8D8;
  color: #5e5e5e;
  border-radius: 12px;
  text-align: center;
}
.main-container .category-content .category-box-group .add_box {
  color: #6A983C;
  cursor: pointer;
}
.main-container .menu-content {
  margin-top: 42px;
}
.main-container .menu-content .component_title {
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-bottom: 15px;
}
@media (max-width: 769px) {
  .main-container .menu-content .component_title {
    font-size: 1.2rem;
  }
}
.main-container .menu-content .menu-box-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /*
    1. Use a more-intuitive box-sizing model.
  */
  /*
    2. Remove default margin
  */
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  /*
    5. Improve media defaults
  */
  /*
    6. Remove built-in form typography styles
  */
  /*
    7. Avoid text overflows
  */
  /*
    8. Create a root stacking context
  */
}
@media (max-width: 600px) {
  .main-container .menu-content .menu-box-group {
    justify-content: center;
  }
}
.main-container .menu-content .menu-box-group *, .main-container .menu-content .menu-box-group *::before, .main-container .menu-content .menu-box-group *::after {
  box-sizing: border-box;
}
.main-container .menu-content .menu-box-group * {
  margin: 0;
  padding: 0;
}
.main-container .menu-content .menu-box-group body {
  line-height: 1.5;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}
.main-container .menu-content .menu-box-group img, .main-container .menu-content .menu-box-group picture, .main-container .menu-content .menu-box-group video, .main-container .menu-content .menu-box-group canvas, .main-container .menu-content .menu-box-group svg {
  display: block;
  max-width: 100%;
}
.main-container .menu-content .menu-box-group input, .main-container .menu-content .menu-box-group button, .main-container .menu-content .menu-box-group textarea, .main-container .menu-content .menu-box-group select {
  font: inherit;
}
.main-container .menu-content .menu-box-group p, .main-container .menu-content .menu-box-group h1, .main-container .menu-content .menu-box-group h2, .main-container .menu-content .menu-box-group h3, .main-container .menu-content .menu-box-group h4, .main-container .menu-content .menu-box-group h5, .main-container .menu-content .menu-box-group h6 {
  overflow-wrap: break-word;
}
.main-container .menu-content .menu-box-group #root, .main-container .menu-content .menu-box-group #__next {
  isolation: isolate;
}
.main-container .menu-content .menu-box-group .box {
  width: 230px;
  height: 300px;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
}
.main-container .menu-content .menu-box-group .box .image_content {
  height: 78%;
  padding: 3px;
  position: relative;
  z-index: 4;
}
.main-container .menu-content .menu-box-group .box .image_content img {
  width: 100%;
  height: 99%;
  z-index: -1;
  top: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  right: 0;
  position: absolute;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .tag-id {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 10px;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .tag-id svg {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .button-groups {
  display: flex;
  gap: 15px;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .button-groups .btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  border: none;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .button-groups .btn svg {
  width: 24px;
  height: 24px;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .button-groups .btn_edit {
  background-color: #4EAEF3;
}
.main-container .menu-content .menu-box-group .box .image_content .heading_part .button-groups .btn_remove {
  background-color: #F34E4E;
}
.main-container .menu-content .menu-box-group .box .data_content {
  height: 22%;
  padding: 0 10px;
  padding-top: 7px;
}
.main-container .menu-content .menu-box-group .box .data_content .item_name {
  font-size: 17px;
  margin-bottom: 2px;
}
.main-container .menu-content .menu-box-group .box .data_content .item_price {
  font-size: 14px;
  letter-spacing: 1px;
}
.main-container .menu-content .menu-box-group .adding_item {
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container .menu-content .menu-box-group .adding_item a {
  text-align: center;
  text-decoration: none;
  color: #808080;
  display: inline-block;
  width: 100%;
}
.main-container .menu-content .menu-box-group .adding_item a span svg {
  margin: 0 auto;
}/*# sourceMappingURL=main_menu.css.map */