@import "../../common";

@font-face {
  font-family: regular-font;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: medium-font;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: semibold-font;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}

#main-menu {
  height: 100vh;
}

.overlay-adding-category {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100%;
    display: flex;
    z-index: 90;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    background-color: #0000004e;
    transition: .4s all ease;

    &.active {
        top: 0;
    }

    .content-box {
        padding: 11px 15px;
        background-color: #fff;
        border-radius: 12px;
        font-family: medium-font;
        width: 520px;


        @media (max-width: $md-ext) {
            width: 95%;

        }

        .content-title {
            font-size: 26px;
            text-align: center;
            font-family: semibold-font;
            padding: 35px 0;

            @media (max-width: $md-ext) {
                font-size: 24px;
                padding: 25px 0;
            }
        }

        form {
            width: 320px;
            margin: 15px auto;
            padding-bottom: 50px;
            .input_content {
                display: flex;
                flex-direction: column;
                width: 100%;

                input {
                    @include inputStyle;
                    width: 100%;
                }

                label {
                    font-size: 12px;
                    font-family: semibold-font;
                }
            }

            .button_add_category {
                @include buttonStyle;
                text-align: center;
                width: 100%;
                margin-top: 15px;
                padding: 8px 0;
            }
        }
    }
}

@import "../header";


.main-container {
    padding: 35px 60px;
    background: #fff;
    font-family: medium-font;
    margin: 0 auto;
    margin-top: 20px;

    @media (max-width: $md) {
        width: 95%;
        border-radius: 8px;
        padding: 20px 35px;
    }

    @media (max-width: $sm) {
        padding: 20px 25px;
    }


    @media (max-width: $sm-ext) {
        width: 99%;
        padding: 20px 15px;
    }


    .content-title {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }

        .text {
            display: flex;
            align-items: center;
            margin-right: 25px;
            font-size: 26px;
            font-family: semibold-font;

            svg {
                margin-right: 10px;
                width:  30px;
                height: 30px
            }

            a {
                text-decoration: none;
                color: #000
            }
        }

        .btn_watch_menu {
            @include buttonStyle;
        }
    }

    .category-content {

        .component_title {
            @include componentTitle;
            font-family: semibold-font;
            margin-bottom: 15px;
        }

        .category-box-group {
            display: grid;
            grid-template-columns: repeat(5,140px);
            gap: 12px;


            // ! EXTRA MEDIA QUARIES
            @media (max-width: 845px) {
                overflow-x: scroll;
                padding-bottom: 10px;
            }

            .category-box {
                padding: 7px 10px;
                border: 3px solid $border-color;
                color: $color-gray-low;
                border-radius: 12px;
                text-align: center;
            }

            .add_box {
                color: $green-low;
                cursor: pointer;

            }
        }
    }

    .menu-content {

        margin-top: 42px;

        .component_title {
            @include componentTitle;
            margin-bottom: 15px;
        }

        .menu-box-group {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            @media (max-width: 600px) {
                justify-content: center;
            }
            // !!! BOX_ITEM

            @import "../box-item";

            .adding_item {
                color: #808080;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                a {
                    text-align: center;
                    text-decoration: none;
                    // background-color: red;
                    color: #808080;
                    display: inline-block;
                    width: 100%;

                    span svg {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}