@import "../../common";

@font-face {
  font-family: regular-font;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: medium-font;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: semibold-font;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}
body {
  background-color: #fff;
  font-family: medium-font;
}
#menu {
  height: auto;
}

.add_to_cart_content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .icon {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    z-index: 66;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    background-color: #fff;
    animation-name: animateBox;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: 12;

    svg {
      transform: translateX(-2px);
    }
  }
}

header {
  padding-bottom: 24px;
  border-bottom: 1px solid #333333bc;

  .profile_images {
    margin-bottom: 14px;

    .banner_image {
      height: 155px;
      position: relative;
      width: 100%;
      background-color: #d9d9d9;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        object-fit: cover;
      }
    }

    .avatar_image {
      width: 160px;
      height: 160px;
      position: relative;
      z-index: 3;
      background-color: #fff;
      margin: 0 auto;
      margin-top: -80px;
      padding: 10px;
      border-radius: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }

  .restoran_title_data {
    text-align: center;

    .restoran_name {
      font-size: 26px;
      font-family: semibold-font;
      margin-bottom: 2px;
    }

    .restoran_desc {
      @include componentTitle;
    }
  }

  @media (max-width: $md-ext) {
    .profile_images .banner_image {
      height: 135px;
    }

    .profile_images .avatar_image {
      width: 135px;
      height: 135px;
      margin-top: -65px;
    }

    .restoran_title_data .restoran_name {
      font-size: 23px;
    }
    .restoran_title_data .restoran_desc {
      font-size: 1.2rem;
    }
  }
}

.menu_content {
  width: 80%;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 45px;

  .component_title {
    @include componentTitle;
  }

  .category-box-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 37px;

    .category-box {
      padding: 7px 14px;
      color: #000;
      background-color: #d0d0d0;
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-width: $md) {
    width: 90%;

    .category-box-group {
      width: 100%;
    }
  }

  @media (max-width: $md-ext) {
    width: 100%;
    padding: 0 20px;

    .component_title {
      text-align: center;
      margin-bottom: 12px;
    }

    .category-box-group .category-box {
      padding: 6px 12px;
      font-size: 13px;
    }
  }
}

.items_content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 70px;

  .component_title {
    @include componentTitle;
    margin-bottom: 20px;
  }

  .menu-box-group {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 15px;
    overflow: hidden;

    @import "../box-item";

    .box {
      height: auto;
  
      width: 250px;
      position: relative;
    }

    .box .image_content {
      height: 235px;
    }

    .box .data_content {
      border-bottom: 1px solid #d9d9d9;
      height: 65px;
    }


    .set_count {
      align-items: center;
      justify-content: space-between;
      padding: 13px;
      display: flex;
      gap: 5px;
      z-index: 4;
      transition: .4s all ease;
  
      .handler_form {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .handler_form button {
        padding: 5px;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 4px;
        background-color: #d0d0d0;
        border: none;
      }

      .handler_form input {
        text-align: center;
        @include inputStyle;
        width: 40px;
        padding: 4px;
      }

      .btn_accept {
        @include buttonStyle;
        padding: 7px 13px;
      }


    }



    @media (max-width: 615px) {
      justify-content: center;
    }

  

  }


  @media (max-width: $sm) {
    .component_title {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}


.add_cart_container {

  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  position: fixed;
  z-index: 99;
  bottom: -50%;
  max-height: 345px;
  left: 0;
  border-top: 2px solid $border-color;
  right: 0;
  transition: .3s all ease;

  &.active {
    bottom: 0;
  }



  .component_title {
    @include componentTitle;
    margin-bottom: 10px;
  }


  .item_group {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 215px;
  }

  .item_group .item_box {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid $border-color;
  }

  .item_box .item_name {
    width: 40%;
  }

  .item_box .item_count {
    width: 30%;
  }

  .item_box .remove_item {
    width: 30%;
    @include buttonStyle;
    background-color: $color-red;
    border: none;

    &:hover {
      background-color: #f43030;
    }
  }

  .total_result {
    padding: 10px 3px;
    border-top: 2px solid $color-gray-low;
    font-size: 16px;

    span {
      background: $color-red;
      padding: 4px;
      margin-top: 7px;
      display: inline-block;
      border-radius: 4px;
      color: #fff;
    }

    b {
      letter-spacing: 1px;
      margin-right: 3px;
    }
  }
}
