/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: regular-font;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: medium-font;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: semibold-font;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}
#adding_item {
  height: 100vh;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  background-color: white;
  font-family: medium-font;
}

.wrapperHeader {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .wrapperHeader {
    width: 95%;
  }
}
.wrapperHeader .contact-overlay {
  padding: 15px 1px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.1215686275);
}
@media (max-width: 426px) {
  .wrapperHeader .contact-overlay {
    font-size: 15px;
  }
}
.wrapperHeader .contact-overlay .greenText {
  color: #6A983C;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
}
.wrapperHeader .header-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapperHeader .header-part .logo_part {
  padding: 33px 0;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .logo_part {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
  }
}
.wrapperHeader .header-part .logo_part .mobile-hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .logo_part .mobile-hamburger {
    display: block;
  }
}
.wrapperHeader .header-part .nav_desktop {
  display: flex;
  align-items: center;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .nav_desktop {
    display: none;
  }
}
.wrapperHeader .header-part .nav_desktop .static_part {
  display: flex;
  gap: 30px;
  margin-right: 35px;
}
@media (max-width: 1024px) {
  .wrapperHeader .header-part .nav_desktop .static_part {
    gap: 25px;
    margin-right: 30px;
  }
}
.wrapperHeader .header-part .nav_desktop .static_part a {
  text-decoration: none;
  color: #6A983C;
  padding: 3px;
  font-weight: 500;
  transition: 0.4s color ease;
}
.wrapperHeader .header-part .nav_desktop .static_part a:hover {
  color: #407500;
  text-decoration: underline;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part {
    gap: 7px;
  }
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
}
@media (max-width: 1024px) {
  .wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part .avatar {
    width: 35px;
    height: 35px;
  }
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .profile-part .username {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups {
  display: flex;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups a {
  padding: 7px 13px;
  font-family: semibold-font;
  text-decoration: none;
  border-radius: 12px;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups a:hover {
  transition: 0.3s all;
  transform: translateY(-2px);
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups a:first-child {
  margin-right: 10px;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups .register_btn {
  background-color: #6A983C;
  border: 2px solid #407500;
  color: #fff;
}
.wrapperHeader .header-part .nav_desktop .dinamic_part .button-groups .login_btn {
  border: 2px solid #6A983C;
  background-color: transparent;
  color: #000;
}
.wrapperHeader .header-part .nav_mobile {
  display: none;
}
@media (max-width: 769px) {
  .wrapperHeader .header-part .nav_mobile {
    display: block;
    position: fixed;
    background-color: #35374b;
    border-radius: 0px 0px 0px 55px;
    top: 0;
    right: -80%;
    transition: 0.3s right ease;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 30px 90px;
  }
  .wrapperHeader .header-part .nav_mobile.active {
    right: 0;
  }
  .wrapperHeader .header-part .nav_mobile .close_menu_icon {
    margin-top: 10px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .wrapperHeader .header-part .nav_mobile .menu_items {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 15px;
  }
  .wrapperHeader .header-part .nav_mobile .menu_items a {
    text-decoration: none;
    text-align: right;
    color: #6A983C;
    font-family: medium-font;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups a {
    padding: 7px 13px;
    font-family: semibold-font;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups a:hover {
    transition: 0.3s all;
    transform: translateY(-2px);
  }
  .wrapperHeader .header-part .nav_mobile .button-groups .register_btn {
    background-color: #6A983C;
    border: 2px solid #407500;
    color: #fff;
  }
  .wrapperHeader .header-part .nav_mobile .button-groups .login_btn {
    background-color: transparent;
    color: #000;
    background-color: #f5f5f5;
  }
  .wrapperHeader .header-part .nav_mobile .profile-part {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .wrapperHeader .header-part .nav_mobile .profile-part .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .wrapperHeader .header-part .nav_mobile .profile-part .username {
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
  }
}

.main-container {
  margin-top: 13px;
  background: #fff;
  padding: 35px 60px;
  font-family: medium-font;
}
@media (max-width: 426px) {
  .main-container {
    padding: 15px 10px;
  }
}
.main-container .content-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.main-container .content-title .text {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 26px;
  font-family: semibold-font;
}
@media (max-width: 769px) {
  .main-container .content-title .text {
    font-size: 23px;
  }
}
@media (max-width: 426px) {
  .main-container .content-title .text {
    font-size: 20px;
  }
}
.main-container .content-title .text svg {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.main-container .content-title .text a {
  text-decoration: none;
  color: #000;
}
.main-container .content-title .btn_watch_menu {
  padding: 10px 16px;
  background-color: #6A983C;
  border: 2px solid #407500;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.3s all;
}
.main-container .content-title .btn_watch_menu:hover {
  background-color: #46760A;
}
@media (max-width: 1024px) {
  .main-container .content-title .btn_watch_menu {
    padding: 7px 14px;
  }
}
@media (max-width: 520px) {
  .main-container .content-title .btn_watch_menu {
    padding: 6px 12px;
  }
}
.main-container .form-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 60px;
}
.main-container .form-content form .input_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.main-container .form-content form .input_content label {
  margin-bottom: 2px;
  font-size: 14px;
  font-family: semibold-font;
}
.main-container .form-content form .input_content input {
  padding: 10px 23px;
  border: 2px solid #D8D8D8;
  border-radius: 12px;
  outline: none;
  transition: 0.3s all;
}
.main-container .form-content form .input_content input:focus {
  border-color: #387ADF;
}
.main-container .form-content form .input_content select {
  padding: 10px 23px;
  border: 2px solid #D8D8D8;
  border-radius: 12px;
  outline: none;
  transition: 0.3s all;
  padding-right: 0;
  padding-left: 5px;
  color: #5e5e5e;
}
.main-container .form-content form .input_content select:focus {
  border-color: #387ADF;
}
.main-container .form-content form .input_content .item-price input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.main-container .form-content form .btn_add {
  padding: 10px 16px;
  background-color: #6A983C;
  border: 2px solid #407500;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.3s all;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 9px 0;
}
.main-container .form-content form .btn_add:hover {
  background-color: #46760A;
}
@media (max-width: 1024px) {
  .main-container .form-content form .btn_add {
    padding: 7px 14px;
  }
}
@media (max-width: 520px) {
  .main-container .form-content form .btn_add {
    padding: 6px 12px;
  }
}/*# sourceMappingURL=add_item.css.map */